<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="col-md-6 p-5">
                <h2 class="text-center mt-5">Login Page</h2>
                <form action="/resetPassword" method="POST">
                    <div class="form-group mb-3">
                        <label for="Old">Old Password</label>
                        <input type="text" class="form-control" name="old" placeholder="Enter Old Password" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="New">New Password</label>
                        <input type="text" class="form-control" name="new" placeholder="Enter New password" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirm">Confirm Password</label>
                        <input type="text" class="form-control" name="confirm" placeholder="Enter Confirm password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
